<Kaleidos::CreationModal
  @title="Vergadering aanpassen"
  @buttonText="Opslaan"
  @loading={{@isLoading}}
  @onSave={{this.save}}
  @onClose={{this.cancel}}
>
  <div class="vl-modal-dialog__content">
    <MeetingForm
      @meeting={{this.model}}
    />
  </div>
</Kaleidos::CreationModal>