/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import "@appuniversum/ember-appuniversum/styles";

.cursor-pointer {
  cursor: pointer;
}

.oc-u-sticky-top,
.oc-c-sticky-header {
  position: sticky;
  top: 0;
}

.oc-c-sticky-header {
  background: var(--au-page-bg);
  width: 100%;
  border-bottom: 0.1rem solid var(--au-divider-color);
}