@import "@appuniversum/ember-appuniversum/styles";

/*
 * Appuniversum extensions
 */

.au-u-background-white {
  background: var(--au-white);
}

.au-u-background-yellow-300 {
  background: var(--au-yellow-300);
}

$au-navigation-list-border: 1px;

.au-u-monospace {
  font-family: monospace;
}

.au-u-scrollable {
  overflow: auto;
}

.au-u-newlines {
  white-space: pre-line;
}

/*
 * Overlegcomite customizations
 */

th.data-table-row-navigation {
  width: 5%;
}

th.data-table-search-agendaitems-subject {
  width: 70%;
}

.au-c-data-table td {
  cursor: pointer;
}

.oc-container {
  padding: 2.4rem 4.8rem;
}

.au-c-main-header {
  .oc-avatar {
    background: var(--au-gray-200);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .au-c-icon {
      color: var(--au-gray-700);
      width: 2rem;
      height: 2rem;
    }
  }
}

.oc-meeting-header,
.oc-search-header {
  .au-c-toolbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.oc-agendaitem-list-sidebar {
  width: 480px;
  flex-shrink: 0;
  border-right: 0.1rem solid var(--au-divider-color);

  .oc-agendaitem-list-group-header {
    position: sticky;
    top: 0;
  }
}

.oc-agendaitem-list {
  .au-c-panel {
    border: 0;
  }

  .oc-agendaitem-list-group-content {
    padding: 0;

    ul {
      gap: 0;

      li {
        a {
          display: flex;
          width: 100%;
          gap: 2rem;
          align-items: start;
          justify-content: left;
          padding: 1.2rem 2.4rem;

          color: var(--au-gray-900);
          font-size: var(--au-h6);
          font-family: var(--au-font);
          font-weight: var(--au-medium);
          text-decoration: none;

          &:hover {
            background: var(--au-gray-200);

            .au-c-pill {
              background: var(--au-gray-200);
              border-color: var(--au-gray-500);
            }
          }

          &.active {
            background: var(--au-blue-700);
            color: var(--au-white);

            .au-c-pill {
              background: var(--au-blue-700);
              color: var(--au-white);
              border-color: var(--au-white);
            }
          }
        }
      }
    }
  }

  &.au-o-flow .oc-agendaitem-list-group-content ul {
    gap: 0.6rem;
  }
}

.oc-document-card {
  h6 {
    text-transform: uppercase;
    letter-spacing: .05rem;
    color: var(--au-gray-500);
  }

  .ember-power-select-trigger {
    width: 200px;
  }

  .au-c-card__footer {
    background: var(--au-gray-100);
    padding: 0;

    .au-c-accordion {
      padding-bottom: 0;

      .au-c-accordion__toggle {
        background: var(--au-white);
        padding: 0.6rem 1.2rem;
        margin-bottom: 0;
        border-top: 0.1rem solid var(--au-gray-200);

        .au-c-accordion__button {
          text-decoration: none;
          font-weight: var(--au-medium);
        }
      }

      .au-c-list {
        border-top: 0.1rem solid var(--au-gray-200);

        .au-c-list__item {
          padding: 2.0rem 2.4rem 1.4rem 2.4rem;
        }
      }
    }
  }

  .oc-document-versions-list-item--icon {
    margin-top: 0.25rem;
    color: var(--au-gray-700);
  }

  .oc-document-versions-list-item--name .au-c-button,
  .oc-document-card--document-name .au-c-button {
    height: auto;
  }
}

.oc-u-subtle-progress-bar {
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    var(--au-page-bg) 50%,
    var(--au-blue-200) 52%,
    var(--au-page-bg) 100%
  );
  background-position-x: 0%;
}
