@import "_colors";
@import 'br-variables-override';

/* ==========================================================================
  Style guide styles
   ========================================================================== */

/*

  In the "real world" (e.g. the app itself) some HTML elements are hidden by default,
  or positioned in specific ways. In the styleguide sometimes we want to undo some of
  that for demonstrational purposes. This is the location where would you write such code.

  The idea is that the code that you write here never makes it to the final app. It's only
  purpose is to make the style guide look good.

  You can target a component with #component-{component-name} e.g. when a component
  folder is called 01-my-component you can target it with #component-01-my-component.

  It's interesting to know that the box that contains the component is called .br-sample-content.

  Sometimes you want to set a height on this or targets its children etc.
*/


/* Make styleguide content look better
   ========================================================================== */

.br-styleguide-content-inner {
  max-width: 90rem;
  margin: 0 auto;
}

/* Make styleguide navigation look better
   ========================================================================== */

.br-styleguide-brand-heading {
  font-size: 2.4rem;
}

.br-styleguide-navigation-holder {
  .br-docs-category-name {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .vl-link-list {
    margin-bottom: 2rem;
  }

  .vl-link-list__item .vl-link {
    display: block;
  }

  .vl-link-list__item  {
    margin: 0;
    padding: 0;
  }
}

/* Color swatches
   ========================================================================== */

.br-color-swatch-item {
  min-width: 14.5rem;
}

/* Modals in styleguide
   ========================================================================== */

.br-sample .br-sample-content .vl-modal-dialog {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  display: block;
}

/* Extra z-index to compensate for modal code
   ========================================================================== */

.br-prototype-nav {
  z-index: 11000 !important;
}

/* Extra code for code copy btn
   ========================================================================== */

.br-sample-copy-code-btn {
  padding: 0 1.2rem;
}

/* Adjust “category” button
   ========================================================================== */

.br-sample-category {
  top: 1.1rem;
}


/* Styling for grid documentation
   ========================================================================== */

.br-styleguide #component-vl-grid [class*=vl-col] {
  background: $porcelain;
}


.br-color-swatch-list {
  margin: 2.4rem 0;
}

.br-color-swatch-preview {
  border-radius: 100%;
  &[style="background-color: #FFF"],
  &[style="background-color: #FFFFFF"] {
    box-shadow: 0 0 3px 1px rgba(#000, 0.2);
  }
}

.br-styleguide #component-01-agenda-items-main .br-sample-content {
  background: $porcelain;
}

.br-styleguide #component-02-agenda-items-sidebar .br-sample-content .vlc-agenda-items {
  width: 380px;
}
