<div class="vl-u-spacer-extended-bottom-s">
  <div class="vlc-input-field-block">
    <Imported::WebComponents::VlFormLabel @value="Datum & Tijd"/>
    <Imported::WebComponents::VlDatepicker
      @date={{this.dateForPicker}}
      @enableTime={{true}}
      @dateChanged={{fn this.setMeetingDate}}
    />
  </div>
</div>