<div class="vl-alert vl-alert--warning vl-u-flex-space-between" role="alert">
  <div class="vl-alert__content">
    <div class="vl-alert__message">
      <p>Dit is een gefilterde weergave.</p>
    </div>
  </div>
  <button
    class="vl-button vl-button--narrow vl-u-float-right"
    style="background: #FFC515; color: #333332"
    {{on "click" @onReset}}
  >
    Reset filter
  </button>
</div>