{{!--
  TODO: Design proper CSS component and remove inline style.
  Style here based on https://www.figma.com/file/AMfVq1xYQ9jePVYy05IZJy/%F0%9F%92%AF-Kaleidos-Designs-Q1-2020-(Vlaanderen)?node-id=70%3A2359
--}}
<div class="vl-alert vl-alert--warning vl-u-flex-space-between" role="alert">
  <div class="vl-alert__content">
    <div class="vl-alert__message">
      <p>Dit is een gefilterde weergave.</p>
    </div>
  </div>
  <button
    class="vl-button vl-button--narrow vl-u-float-right"
    style="background: #FFC515; color: #333332"
    {{on "click" @onReset}}
  >
    Reset filter
  </button>
</div>