<div class="vlc-user">
  <div class="vlc-user__username">
    {{@userName}} ({{@groupName}})
  </div>
  {{!-- Also works when logged in with mock-login. Both call session.invalidate() --}}
  <AcmidmLogout
   class="vlc-user__action"
    @tagName="a"
  >
    Afmelden
  </AcmidmLogout>
</div>