{{title (concat "Punt " this.model.priority this.model.subPriority ": " this.model.subject)}}
<div class="vlc-scroll-wrapper">
  <div class="vlc-scroll-wrapper__header">
    <div class="vlc-navbar vlc-navbar--bordered-bottom vlc-navbar--tabs vlc-navbar--tabs-bottom">
      <div class="vl-tabs__wrapper">
        <Wu::Tabs class="vl-u-reset-margin" as |tabs|>
          <tabs.tab @route="agendaitems.agendaitem.index">Detail</tabs.tab>
          {{!-- Hide link while not implemented --}}
          {{!-- <tabs.tab @route="agendaitems.agendaitem.notification">Notificatie</tabs.tab> --}}
        </Wu::Tabs>
      </div>
    </div>
  </div>
  <div class="vlc-scroll-wrapper__body">
    <div class="vl-u-spacer-extended-l">
      <div class="vlc-container">
        {{outlet}}
      </div>
    </div>
  </div>
</div>