<section class="vl-region">
  <div class="vl-layout vl-layout--wide">
    <div class="vl-grid">
      <div class="vl-col--1-1--s vl-col--8-12--m vl-col--6-12">
        <h1 class="vl-title vl-title--h1 vl-u-spacer--tiny">
          Overlegcomité
        </h1>
        <h2 class="h4 sans-serif">
          Een webapplicatie die helpt bij het plannen en opvolgen van de agenda voor het Overlegcomité.
        </h2>
        <br>
        <br>
        <p class="vl-u-spacer--tiny">
          Lukt het aanmelden niet? Neem contact op met uw interne beheerder. Indien er zich een probleem voordoet, contacteer
          <a
            href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
          >
            gebruikersbeheer Vlaanderen
          </a>
          .
        </p>
        <p class="vl-u-spacer--tiny">
          Het aanmelden gebeurt in een pop-up; zorg dat de instellingen van uw browser correct staan indien deze niet verschijnt.
        </p>
      </div>
      <div
        class="vl-col--1-1--s vl-col--4-12--m vl-col--6-12"
      >
        <AcmidmLogin class="acmidm-login-button" />
      </div>
    </div>
  </div>
</section>