<div class="vlc-panel-layout">
  <div class="vlc-panel-layout__main-content">
    <div class="vl-u-spacer-extended-l">
      <div class="vlc-container">
        <Wu::Alert
          @title="Geen gebruikersrechten"
          @type="warning"
        >
          <p>
            U heeft zich aangemeld om binnen de Overlegcomité-toepassing gebruikersrechten te bekomen.
            De diensten van de kanselarij van de Vlaamse Regering behandelen uw aanvraag zo snel mogelijk.
          </p>
          <p>
            Dank voor uw begrip.
          </p>
        </Wu::Alert>
      </div>
    </div>
  </div>
</div>